<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052734478032-70e39grrsi2pgr09m5ooc5llb7dp4u5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052734478032-70e39grrsi2pgr09m5ooc5llb7dp4u5p</string>
	<key>API_KEY</key>
	<string>AIzaSyAEmsW-B0DpUR_5vBnOc4qn4nryMbhvArw</string>
	<key>GCM_SENDER_ID</key>
	<string>1052734478032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oucnavi.keiziban</string>
	<key>PROJECT_ID</key>
	<string>keiziban-bd3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>keiziban-bd3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052734478032:ios:2330e5f683a46aa2dd30d5</string>
</dict>
</plist>